<aside id="colophon" itemscope="" itemtype="http://schema.org/WPSideBar" role="complementary">
<div class="footer-three" id="colophon-inside">
<section class="widget_text widget-container widget_custom_html" id="custom_html-5"><div class="widget_text footer-widget-inside"><h3 class="widget-title"><span>ABOUT PARC</span></h3><div class="textwidget custom-html-widget"><p style="color:black; font-size:11px">The Physical Activity Research Center is a collaboration of four leading universities building the evidence base for policy changes and practices that will help make physical activity part of everyday life for all children. PARC focuses on strategies that can help children in lower-income communities, often part of African American, Latino, Native American, Asian American and Pacific Islander ethnicity groups, who typically have fewer opportunities to be active.
</p><br/>
<li><a href="/about-us">About Us</a></li>
<li><a href="/project-profiles">Project Profiles</a></li>
<li><a href="/research-agenda">Research Agenda</a></li>
<li><a href="/relevant-resources">Relevant Resources</a></li>
<li><a href="/blog">Blog</a></li></div></div></section><section class="widget-container widget_cc_mm_widget" id="cc_mm_widget-3"><div class="footer-widget-inside"></div></section><section class="widget_text widget-container widget_custom_html" id="custom_html-11"><div class="widget_text footer-widget-inside"><h3 class="widget-title"><span>Follow PARC on X</span></h3><div class="textwidget custom-html-widget"><a href="https://x.com/PAResearchCntr">@PAResearchCntr</a></div></div></section><section class="widget-container widget_block" id="block-2"><div class="footer-widget-inside"><hr id="ftrMain"/>
<p id="ftrText">
©2026 Physical Activity Research Center</p></div></section><section class="widget_text widget-container widget_custom_html" id="custom_html-9"><div class="widget_text footer-widget-inside"><div class="textwidget custom-html-widget"><p>
	 
</p></div></div></section><section class="widget_text widget-container widget_custom_html" id="custom_html-8"><div class="widget_text footer-widget-inside"><div class="textwidget custom-html-widget"><p style="margin-top: 30px">
Support for the Physical Activity Research Center was provided by the <a href="http://rwjf.org/" target="_blank">Robert Wood Johnson Foundation</a></p>.</div></div></section> </div>
</aside>
