<footer class="cryout" id="footer" itemscope="" itemtype="http://schema.org/WPFooter" role="contentinfo">
<div id="footer-inside">
<div id="footer-separator"></div><div id="site-copyright">©2018 Physical Activity Research Center<br/>
Support for the Physical Activity Research Center was provided by the <a href="#" target="_blank">Robert Wood Johnson Foundation</a>.</div><div style="display:block;float:right;clear: right;font-size: .85em;font-weight: bold; text-transform: uppercase;">Powered by<a href="http://paresearchcenter.sdsc.edu/septera-child/" target="_blank" title="Septera WordPress Theme by Cryout Creations"> Septera</a> &amp; <a href="http://wordpress.org/" target="_blank" title="Semantic Personal Publishing Platform">  WordPress.</a></div><a id="toTop"> <span class="screen-reader-text">Back to Top</span> <i class="icon-back2top"></i> </a> </div> <!-- #footer-inside -->
</footer>
