<header class="cryout" id="masthead" itemscope="" itemtype="http://schema.org/WPHeader" role="banner">
<div id="site-header-main">
<div id="site-header-main-inside">
<nav id="mobile-menu">
<span id="nav-cancel"><i class="icon-cancel"></i></span>
<div><ul class="" id="mobile-nav"><li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-16 menu-item-has-children menu-item-126" id="menu-item-126"><a href="/about-us/"><span>About Us</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632" id="menu-item-632"><a href="/about-us/parc-team/"><span>PARC Team</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-633" id="menu-item-633"><a href="/about-us/contact-us/"><span>Contact Us</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-125" id="menu-item-125"><a href="/project-profiles/"><span>Project Profiles</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363" id="menu-item-363"><a href="/project-profiles/uc-san-diego-profile-page/"><span>UC San Diego</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364" id="menu-item-364"><a href="/project-profiles/georgia-tech-profile-page/"><span>Georgia Institute of Technology</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-358" id="menu-item-358"><a href="/project-profiles/johns-hopkins-project-profile/"><span>Johns Hopkins &amp; Baylor University</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355" id="menu-item-355"><a href="/project-profiles/nc-state-project-profile/"><span>NC State University</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634" id="menu-item-634"><a href="/project-profiles/rti-international/"><span>RTI International</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635" id="menu-item-635"><a href="/project-profiles/san-francisco-state-university/"><span>San Francisco State University</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-860" id="menu-item-860"><a href="/project-profiles/ut-school-public-health-in-austin/"><span>UT School of Public Health in Austin</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-929" id="menu-item-929"><a href="/project-profiles/harvard-school-of-public-health/"><span>Harvard School of Public Health</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1565" id="menu-item-1565"><a href="/project-profiles/activating-rural-america/"><span>Activating Rural America</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131" id="menu-item-131"><a href="/research-agenda/"><span>Research Agenda</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636" id="menu-item-636"><a href="/research-agenda/agenda-setting-process/"><span>Agenda Setting Process</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-637" id="menu-item-637"><a href="/research-agenda/sub-research-agenda/"><span>Research Agenda</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-128" id="menu-item-128"><a href="/relevant-resources/"><span>Relevant Resources</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1503" id="menu-item-1503"><a href="/relevant-resources/webinars-and-podcasts/"><span>Webinars and Podcasts</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1504" id="menu-item-1504"><a href="/relevant-resources/relevant-publications/"><span>Relevant Publications</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127" id="menu-item-127"><a href="/blog/"><span>Blog</span></a></li>
<li class="menu-main-search menu-search-animated">
<a href="" role="link"><i class="icon-search"></i><span class="screen-reader-text">Search</span></a>
<form action="/" class="searchform" method="get" role="search">
<label>
<span class="screen-reader-text">Search for:</span>
<input class="s" name="s" placeholder="Search" type="search" value=""/>
</label>
<button class="searchsubmit" type="submit"><span class="screen-reader-text">Search</span><i class="icon-search"></i></button>
</form>
</li></ul></div> </nav> <!-- #mobile-menu -->
<div id="branding">
<div id="site-text"><div id="site-title" itemprop="headline"><span> <a href="/" rel="home" title="Making physical activity an everyday experience for all children">Physical Activity Research Center</a> </span></div><span id="site-description" itemprop="description">Making physical activity an everyday experience for all children</span></div> </div><!-- #branding -->
<a id="nav-toggle"><i class="icon-menu"></i></a>
<nav aria-label="Primary Menu" id="access" itemscope="" itemtype="http://schema.org/SiteNavigationElement" role="navigation">
<div class="skip-link screen-reader-text">
<a href="#main" title="Skip to content"> Skip to content </a>
</div>
<div><ul class="" id="prime_nav"><li class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-16 menu-item-has-children menu-item-126"><a href="/about-us/"><span>About Us</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-632"><a href="/about-us/parc-team/"><span>PARC Team</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-633"><a href="/about-us/contact-us/"><span>Contact Us</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-125"><a href="/project-profiles/"><span>Project Profiles</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-363"><a href="/project-profiles/uc-san-diego-profile-page/"><span>UC San Diego</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-364"><a href="/project-profiles/georgia-tech-profile-page/"><span>Georgia Institute of Technology</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-358"><a href="/project-profiles/johns-hopkins-project-profile/"><span>Johns Hopkins &amp; Baylor University</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355"><a href="/project-profiles/nc-state-project-profile/"><span>NC State University</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-634"><a href="/project-profiles/rti-international/"><span>RTI International</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-635"><a href="/project-profiles/san-francisco-state-university/"><span>San Francisco State University</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-860"><a href="/project-profiles/ut-school-public-health-in-austin/"><span>UT School of Public Health in Austin</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-929"><a href="/project-profiles/harvard-school-of-public-health/"><span>Harvard School of Public Health</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1565"><a href="/project-profiles/activating-rural-america/"><span>Activating Rural America</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-131"><a href="/research-agenda/"><span>Research Agenda</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-636"><a href="/research-agenda/agenda-setting-process/"><span>Agenda Setting Process</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-637"><a href="/research-agenda/sub-research-agenda/"><span>Research Agenda</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-128"><a href="/relevant-resources/"><span>Relevant Resources</span></a>
<ul class="sub-menu">
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1503"><a href="/relevant-resources/webinars-and-podcasts/"><span>Webinars and Podcasts</span></a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1504"><a href="/relevant-resources/relevant-publications/"><span>Relevant Publications</span></a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a href="/blog/"><span>Blog</span></a></li>
<li class="menu-main-search menu-search-animated">
<a href="" role="link"><i class="icon-search"></i><span class="screen-reader-text">Search</span></a>
<form action="/" class="searchform" method="get" role="search">
<label>
<span class="screen-reader-text">Search for:</span>
<input class="s" name="s" placeholder="Search" type="search" value=""/>
</label>
<button class="searchsubmit" type="submit"><span class="screen-reader-text">Search</span><i class="icon-search"></i></button>
</form>
</li></ul></div> </nav><!-- #access -->
</div><!-- #site-header-main-inside -->
</div><!-- #site-header-main -->
<div id="header-image-main">
<div id="header-image-main-inside">
<div class="header-image" style="background-image: url(/wp-content/uploads/2017/10/what-is-parc-bg4.jpg)"></div>
<img alt="Physical Activity Research Center" class="header-image" src="/wp-content/uploads/2017/10/what-is-parc-bg4.jpg"/>
</div><!-- #header-image-main-inside -->
</div><!-- #header-image-main -->
</header>
